
.label {
    width: 10%;                
}
.button {
    width: 11%;
    border-radius: 10px;
}

h3#title {
    
    font-family: 'Fredoka One', cursive;
}

label {
    font-family: 'Fredoka One', cursive;
}

